[2020-05-11 09:33] t-imamichi opened #10 "Documentation of qiskit.optimization.INFINITY looks strange"
### What is the expected enhancement?

`INFINITY` is a constant to represent the infinite number.
The current description seems to be strange.

https://qiskit.org/documentation/stubs/qiskit.optimization.INFINITY.html#infinity

[2020-10-09 14:26] omarshehab opened #13 "Add support for docplex.mp.constr.IndicatorConstraint"
### What is the expected enhancement?
It would be nice if QuadraticProgram.from_docplex() supports docplex.mp.constr.IndicatorConstraint.

[2020-11-16 13:04] adekusar-drl opened #8 "Warm Start QAOA"
### Warm Start QAOA
Add support for warm start QAOA as in the paper: https://arxiv.org/abs/2009.10095

[2020-11-19 18:29] feifeng1993 opened #61 "IBM tutorial optimization, 5_admm_optimizer solve simple objective report infeasible"
### Informations
When I solve a simple obj using admm_optimizer,
obj: v+w
subject to constrain1:  v-2w+u=3
                 constrain2: u>=3.5
where v,w are binary, u is continuous. The result should be v=0,w=1,u=5, obj =1. but admm is infeasible. May I know how to solve this problem and get correct result? Thanks.
I only change the obj and constrain in demo. The demo link is https://qiskit.org/do

[2020-11-23 21:26] amitracal opened #9 "RQAOA producing wrong results"
### Information

Qiskit Aqua version:
'qiskit-terra': '0.16.0',
'qiskit-aer': '0.7.0',
'qiskit-ignis': '0.5.0',
'qiskit-ibmq-provider': '0.11.0',
'qiskit-aqua': '0.8.0',
'qiskit': '0.23.0'

Python version:
3.7.6

Operating system:
Windows 10

### What is the current behavior?
RQAOA results are wrong as shown in the "Final" tab of the excel inside attached zip file, values should match with Cplex (

[2021-01-26 22:38] omarshehab opened #12 "DOcplex constraint to Sympy expression conversion"
### What is the expected behavior?

Ideally, it should be a feature within the DOcplex library. However, we can have an utility function which will convert the expression of a constraint into a symbolic Sympy expression so that we can leverage the symbolic manipulation capability of Sympy.

[2021-01-26 22:54] HassanNaseri opened #14 "LinearEqualityToPenalty converter: accept list of penalty terms as input"
## Requested Feature
LinearEqualityToPenalty converter only accepts a single scalar input as penalty factor. Better results can be usually obtained by applying higher penalty factors to broken constraints. This requires LinearEqualityToPenalty to accept a list of penalty terms as input, including separate penalty factor for each constraint. If user provides none or a single value for penalty, the

[2021-01-28 17:12] cqc-alec opened #16 "`AssertionError` in `GroverOptimizer.solve`"
### Information

- **Qiskit Aqua version**: 0.8.1
- **Python version**: 3.8.2
- **Operating system**: Ubuntu 20.04

### What is the current behavior?

Calling `GroverOptimizer.solve` results in an `AssertionError`.

### Steps to reproduce the problem

[code]

Output:

[code]

### What is the expected behavior?

`results` should be populated

### Suggested solutions

?

[2021-01-28 17:23] woodsp-ibm commented on #16
@cqc-alec We are in the process of moving splitting Aqua so each application domain like optimization is in its own repo. Hence I transferred the issue here where we are now maintaining the code in readiness for next release.

[2021-01-28 17:27] cqc-alec commented on #16
OK, thanks! My issue looks like a duplicate of https://github.com/Qiskit/qiskit-aqua/issues/1409 which is marked fixed, but presumably the fix is not yet in a release.

[2021-01-28 17:36] woodsp-ibm commented on #16
The last release of Aqua was 0.8.1 a few days before this. If you want to see you can installed Aqua from a clone of the master branch of the repo there and run with that and see. (If you want to do this and need information on installing from source you can look here https://qiskit.org/documentation/contributing_to_qiskit.html#installing-from-source - I think the other elements are still compatib

[2021-01-29 09:08] cqc-alec commented on #16
@woodsp-ibm Thanks, yes I see. Rather than install from master I will await the next aqua release which should have the fix.

[2021-01-29 14:33] woodsp-ibm commented on #16
As the problem in this issue is apparently a duplicate of a bug already fixed I will close this issue then. If you find then problem persists after the next release then feel free to re-open this as needed.

[2021-01-29 14:33] #16 closed

[2021-02-04 16:03] t-imamichi opened #21 "New version of Docplex breaks QuadraticProgram"
### Information

- **Qiskit Optimization version**: latest
- **Python version**: 3.8.7
- **Operating system**: macOS 11.2

### What is the current behavior?

The latest version of Docplex breaks `QuadraticProgram`
https://pypi.org/project/docplex/2.20.204/

### Steps to reproduce the problem

[code]

### What is the expected behavior?

The unit test passes

### Suggested solutions

I will fix it.

[2021-02-04 17:47] #21 closed

[2021-02-08 02:39] t-imamichi opened #24 "Docplex is not fully compatible with cplex 20.1"
### Information

- **Qiskit Optimization version**: NA
- **Python version**: 3.7.9, 3.8.7, 3.9.1
- **Operating system**: macOS 11.2

### What is the current behavior?

There are two issues related to docplex as follows.

(1)
Docplex 2.14.186 (May 2020) or older does not work with cplex 20.1 (Jan 2021)

(2)
Docplex 2.16.196 (Nov 2020) or newer does not work without installing `cplex`. But, cplex is

[2021-02-08 02:51] t-imamichi commented on #24
I can fix this as part of #23

[2021-02-08 03:13] t-imamichi opened #25 "Docplex is not compatible with Python 3.9"
### Information

- **Qiskit Optimization version**: NA
- **Python version**: Python 3.9.1
- **Operating system**: macOS 11.2

### What is the current behavior?

The latest Docplex 2.20.204 does not work with Python 3.9

Related to #24

### Steps to reproduce the problem

[code]

Python 3.8
[code]

Python 3.9
[code]

### What is the expected behavior?

### Suggested solutions

We should configure s

[2021-02-08 04:19] t-imamichi commented on #25
I merge this issue with #24

[2021-02-08 04:19] #25 closed

[2021-02-08 08:05] t-imamichi commented on #24
We need to include a fix for Aqua 0.8.2 bugfix release. I suggest to pin docplex 2.15.194 for the release. What do you think?

[2021-02-10 15:08] woodsp-ibm opened #28 "Re-organize unit tests along folder structure as per code"
Re-organize unit tests such that instead of a flat structure they are in a folder structure akin to the code.

We may want to adopt the same structure as Terra under test where they have different folders with the units tests under a `python` folder.

[2021-02-10 15:37] woodsp-ibm opened #29 "CI should run unit tests with and without cplex"
As the majority of codebase here is designed to work without the optional `cplex` package being installed we should run tests in such an environment to ensure this works as expected without cplex. The docplex package has linkage to cplex and some functions depend on cplex - by testing without cplex we continue to ensure that things operate as expected whether its the logic here and/or docplex that

[2021-02-10 19:37] adekusar-drl commented on #29
Please include CVXPY also.

[2021-02-11 21:50] #8 closed

[2021-02-12 16:37] manoelmarques commented on #24
The PR #30 runs all unit tests under Ubuntu for all python versions, with and without cplex and cvxpy with no restrictions.

[2021-02-12 16:37] #28 closed

[2021-02-12 16:37] #29 closed

[2021-02-12 16:46] woodsp-ibm commented on #24
As Manoel noted above, the unit tests are running with the latest docplex and all seem to be working fine without cplex being installed. Can we review the analysis that led to us pinning an older version in the recent stable release as to how to move forwards here? Are we missing some unit test that would show the failure that the review above hit - maybe its there on Mac but does not manifest in

[2021-02-15 08:06] t-imamichi commented on #24
@manoelmarques @woodsp-ibm Thank you for the unit tests without cplex. I notice from the result that the issue of docplex without cplex occurs only on macOS. Docplex 2.20 works fine without cplex on Ubuntu and Windows. I updated the table. So, we need version pin of docplex is necessary for only macOS.

[2021-02-17 14:02] AzizNgoueya opened #39 "The function get_vehiclerouting_solution fails with qasm_simulator"
### Information

- **Qiskit Aqua version**: 0.8.1
- **Python version**:  3.9.1
- **Operating system**: Windows

### What is the current behavior?
The method get_vehiclerouting_solution from the optimization module produces a keyerror when trying to solve a vehicle routing on Aer qasm_simulator. This works on Aer statevector_simulator.

### Steps to reproduce the problem
running the vqe algorithm f

[2021-02-24 04:54] peguerosdc opened #34 "LinearEqualityToPenalty.penalty doesn't return the penalty factor used in conversion"
### Information

- **Qiskit Optimization version**: latest
- **Python version**: 3.8.5
- **Operating system**: Ubuntu 20.04.2 LTS

### What is the current behavior?
After creating a converter `LinearEqualityToPenalty` with no penalty factor and converting a `QuadraticProgram`, calling `.penalty` doesn't return the penalty factor used in conversion as stated in the docs.

### Steps to reproduce the

[2021-02-26 02:08] a-matsuo opened #37 "The probabilities of the result of `GroverOptimizer` becomes negative values"
### Information

- **Qiskit Optimization version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-02-26 02:09] #37 closed

[2021-02-26 12:46] RichardOberdieck opened #38 "qiskit.opflow and qiskit.exceptions.MissingOptionalLibraryError are not available"
### Information

- **Qiskit Optimization version**: latest (based on commit 57b59c6)
- **Python version**: 3.7.6
- **Operating system**: Linux, macOS

### What is the current behavior?
I have [forked the project](https://github.com/RichardOberdieck/qiskit-optimization) to add a connector to `gurobipy` in `quadratic_program.py` and `max_cut.py`.

When I want to run the tests though, I get an `Impor

[2021-02-26 13:09] manoelmarques commented on #38
Qiskit optimization is where the optimization code will reside instead of qiskit-aqua. However it hasn’t been released yet and qiskit-aqua is still functional in Pypi. The documentation points to the current releases and if you install from Pypi, you will get a qiskit-terra incompatible with qiskit-optimization. In order to contribute to this new repo, you need to clone qiskit-terra from master wh

[2021-02-26 13:21] manoelmarques commented on #38
The master versions of the application repos are always in synch with the master versions of terra, ignis, aer. So in general, when developing, it is best to have the cloned master versions of those repos installed instead of the released ones. This is explained at CONTRIBUTING.md, section ‘Installing Qiskit Optimization from source’

[2021-03-01 19:51] RichardOberdieck commented on #38
Thanks, my mistake. Got it working and will submit my PR in the coming days.

[2021-03-01 19:51] #38 closed

[2021-03-04 09:45] t-imamichi opened #40 "Special patterns of inequality to penalty converters"
### What is the expected enhancement?

When users solve an optimization problem with Qiskit Aqua, they apply `InequalityToEquality` to convert inequality constraints into equality constraints by introducing slack variables, and then apply `LinearEqualityToPenalty` to translate the constraints into penalties of the objective function of QUBO. But, there are some special patterns are known that does

[2021-03-04 09:55] t-imamichi opened #41 "Maximize to minimize converter"
### What is the expected enhancement?

Some algorithms convert maximization problems into minimization problems internally. By introducing `MaximizeToMinimize` converter, we can simplify the codes of the algorithms by adding `MaximizeToMinimize` to the default converter list.

https://github.com/Qiskit/qiskit-optimization/blob/57b59c64bf0ba72057465f2a6ff3560b26239ced/qiskit_optimization/algorithms

[2021-03-05 03:33] a-matsuo commented on #34
Hi @peguerosdc
thank you for the issue! Currently, `self._penalty` is used as a flag for whether the converter calls `self._auto_define_penalty()` or not. If we update `self._penalty` and fix it, `self._auto_define_penalty()` will not be called when people reuse the converter. How about adding a new variable something like `auto_define_penalty` variable, and we use it for the flag of `self._auto_d

[2021-03-12 13:19] t-imamichi commented on #9
I checked the code with the latest qiskit-optimization. This is the code and output. I slightly tweaked qiskit-optimization to output the correlation table and intermediate problems. I see that absolute correlation value is not always large enough (e.g., -0.5) and resulted in a wrong variable substitution. It might be good to stop the recursive problem contraction when the correlation is not signi

[2021-03-13 20:16] #34 closed

[2021-03-15 12:50] stefan-woerner commented on #9
Thanks @t-imamichi! This is a heuristic, so that's a behavior that can happen. Indeed, if the correlation turns out to be rather small (below some threshold) we could consider alternative strategies. There are different options but that requires more careful analysis and testing and I wouldn't change it for now.

[2021-03-16 15:01] charlieh108 opened #48 "stable_set.get_operator()"
### Information

- **Qiskit Aqua version**:  '0.8.2'
- **Python version**: Python 3.8.3
- **Operating system**: Mac OS X (Identical Error also on Windows)

### What is the current behavior?

I believe the stable_set.get_operator() function is incorrectly interpretting the  adjacency matrices handed to it. For the simplest case -  a path graph of 3 nodes - an incorrect qubitOp is created.

### Step

[2021-03-16 15:05] woodsp-ibm commented on #48
@a-matsuo I made a comment above on the problem. If this is something that we could/should fix in Aqua for its last deprecated release we can do that too. I wanted to ensure though we fixed any issue here that might have been brought over from Aqua and might still exist - though of course the code is rather different now in creating a QP.

[2021-03-16 15:19] charlieh108 commented on #48
Apologies, I didn't realise that aqua and optimisation were seperate modules. To be clear, I've edited my code to show where I've imported my various functions from. The class you linked too seems different so I  will have a look with that !

[2021-03-16 15:40] charlieh108 commented on #48
Forgive me if this is the wrong place to ask, but is there a difference between `qiskit.optimization` and `qiskit_optimization`? When I try using `pip install qiskit-optimization` I get the requirements already satisfied message, but then why the difference formatting : " _ " ?

[2021-03-16 15:52] manoelmarques commented on #48
qiskit.optimization is a package inside qiskit-aqua. qiskit_optimization is a package inside the qiskit-optimization library. They are contained in different pip installable libraries (qiskit-aqua & qiskit-optimization). qiskit-aqua is being deprecated. The new code is being added to qiskit-optimization.

[2021-03-16 16:55] a-matsuo commented on #48
I recalculated and figure it out. The code forgot to divide some coefficients by 2. It should be as the following code.That's why the converted Ising Hamiltonian doesn't make sense (The converted Ising Hamiltonian is wrong. `from_ising` is working correctly and the new `stable_set.to_quadratic_program()` is working correctly as well). Shall I fix it in Aqua?
[code]

[2021-03-16 20:01] woodsp-ibm commented on #48
@a-matsuo Thanks for checking this out. Since this is really just a bug in Aqua I will move the issue back there.  It would be nice that it were fixed for the next/final release even though the code will all be deprecated. Since you figured out what needs doing it should be quick to do right.

[2021-03-19 03:59] a-matsuo commented on #14
@TDHTTTT @HassanNaseri
I forgot about this issue and the PR, https://github.com/Qiskit/qiskit-aqua/pull/1322. Is the PR ready? If so, can you make a PR in this qiskit-optimization as well?

[2021-03-19 14:25] t-imamichi opened #52 "Add optional keywords to `GraphOptimizationApplication.draw`"
### What is the expected enhancement?

If we add optional keywords (i.e., kwargs) to `GraphOptimizationApplication.draw`, users can control all options of networkx.draw.
https://networkx.org/documentation/stable/reference/generated/networkx.drawing.nx_pylab.draw.html#networkx.drawing.nx_pylab.draw

[2021-03-19 14:40] t-imamichi opened #53 "Save a figure file with `GraphOptimizationApplication.draw`"
### What is the expected enhancement?

It would be useful if `GraphOptimizationApplication.draw` can not only draw a figure on a jupyter notebook, but also save a figure file (png, pdf, jpeg).

[2021-03-20 02:55] a-matsuo commented on #40
My mentees are working on this issue for their qiskit advocate mentorship program. They will finish implementing by the end of May.

[2021-03-20 04:34] t-imamichi opened #55 "Make matplotlib extra_required"
### What is the expected enhancement?

As Steve and I discussed in #51, we need to discuss whether matplotlib is required or extra_required.
`GraphOptimizationApplication.draw` depends on `networkx.draw` and `networkx.draw` depends on matplotlib.
`VehicleRouting` also depends on `matplotlib`.

The application classes need to check whether matplotlib is installed or not and raise `MissingOptionalLi

[2021-03-20 14:04] woodsp-ibm commented on #55
As I mentioned in #51 to me its odd (read not really correct) to include a dependent of a dependent. Clearly networkx, if you just install that, its draw() does not work unless MatPlotLib is installed. It does not install it by default either and has it has extra_requires itself. If you do call draw() then, as you showed in #55, the error about not having MatPlotLib is spelled out. So to me detect

[2021-03-20 14:05] woodsp-ibm commented on #55
@stefan-woerner @manoelmarques in case you wish to jump in at all on this...

[2021-03-20 15:18] t-imamichi commented on #40
Thanks. It would be better to share the WIP PR as a draft PR here. It is easier for us to comment it.

[2021-03-20 15:19] t-imamichi commented on #40
Could you link to the mentoring issue to this issue and the upcoming PR?

[2021-03-22 03:18] a-matsuo commented on #40
Sure [qiskit-advocate-mentorship-program#24](https://github.com/qiskit-community/qiskit-advocate-mentorship-program/issues/24). I will link a PR once we create it.

[2021-03-24 14:19] a-matsuo commented on #52
Currently, matplotlib is used with networkx to draw a graph. However, we might change the library for visualization. @mtreinish is working on, so please leave this PR for now.

[2021-03-24 14:20] a-matsuo commented on #53
Currently, matplotlib is used with networkx to draw a graph. However, we might change the library for visualization. @mtreinish is working on, so please leave this PR for now.

[2021-03-25 20:14] woodsp-ibm commented on #24
@t-imamichi I see there is a cplex 20.1.0.1 that was released and says its from Feb 8th. Is it worth double checking the status of the docplex/cplex ahead of release to see if the version pinning we have in place still makes sense or whether it can be relaxed at all.

[2021-03-26 01:16] t-imamichi commented on #24
Thank you for the notice. I tried them and confirmed that the two NGs in the table remain as of Mar. 26, 2021.
https://github.com/Qiskit/qiskit-optimization/issues/24#issue-803138170

[2021-03-31 00:35] #55 closed

[2021-04-02 10:51] nonhermitian opened #68 "Doc tutorials are broken"
See: https://qiskit.org/documentation/optimization/tutorials/index.html

[2021-04-02 21:03] manoelmarques commented on #68
Theme is fixed now

[2021-04-02 21:38] #68 closed

[2021-04-07 11:10] mtreinish commented on #52
Right, I'm hoping to migrate qiskit-optimization to use retworkx internally instead of networkx for performance. Right now retworkx only supports generating a [`DOT`](https://www.graphviz.org/doc/info/lang.html) file for visualization with graphviz. You should be able to use graphviz in the same way you're using the networkx matplotlib drawer, but the api for accomplishing it is slightly different

[2021-04-08 07:43] tomtuamnuq commented on #41
Hello @t-imamichi. I am following Qiskit for a while now and would like to help on this.
I think the basic implementation is pretty straightforward:

1. Implement MaximizeToMinimize as subclass of QuadraticProgramConverter

The content for convert method is already given in:

https://github.com/Qiskit/qiskit-optimization/blob/23b63f6144e9a36efce7c0ab4646a527f28d0857/qiskit_optimization/algorithms/

[2021-04-13 09:38] a-matsuo commented on #14
@TDHTTTT @HassanNaseri
Are you guys still interested in this issue?

[2021-04-13 09:50] HassanNaseri commented on #14
@a-matsuo I am interested. I am already using the feature on my local copy of qiskit. This is a minor change that got complicated. @TDHTTTT can you make a new PR?

[2021-04-13 18:50] adekusar-drl opened #77 "Add textual representations to optimization objects"
### What is the expected enhancement?
Many optimization objects, e.g. `Constraint`, `Variable` do not have textual representations, e.g. methods like `__str__` and `__repr__` and in a debugger, e.g. PyCharm they don't provide much information out of box. `QuadraticProgram` has only `__repr__` which, in turns, depends on the docplex implementation, and in the debugger you can only see a docplex com

[2021-04-13 19:01] adekusar-drl opened #78 "Add convertor chaining"
### What is the expected enhancement?
Right now all optimizers manually deal with converters. Sometime this logic is the same across several optimizers. This issue suggests to stream line the way converters are applied in optimizers.

Problem conversion should be placed in the base class. Then, the base class should have a generic `solve()` method, that makes everything ready for sub-classes and c

[2021-04-13 19:09] adekusar-drl opened #79 "Simplify `solve` implementations across optimizers."
### What is the expected enhancement?
This snippet can be found in many optimizers:
[code]
So, it should be pulled up to the base class. This issue is related to #78.

[2021-04-14 08:23] t-imamichi opened #80 "General conversion interface between `QuadraticProgram` and modeling libraries"
### What is the expected behavior?

`QuadraticProgram` currently load from and save to docplex model by `from_docplex` and `to_docplex`.
There are other modeling language available such as Gurobi, PuLP, SCIP, etc.

It would be great if `QuadraticProgram` supports other modeling language with the same interface, e.g., `from_model` and `to_model` or just `from` and `to`.

Related to #45

[2021-04-14 08:31] t-imamichi opened #81 "Add visualization of solution samples"
### What is the expected behavior?

Optimization results include not only the best solution but also the solution samples.
It would be nice to visualize the distribution of the solutions such as a histogram like [plot_histogram](https://qiskit.org/documentation/tutorials/circuits/2_plotting_data_in_qiskit.html#Plot-histogram).

![image](https://user-images.githubusercontent.com/31178928/114679569-

[2021-04-14 08:32] t-imamichi opened #82 "Add a tutorial to describe how to use samples of the optimization result"
### What is the expected enhancement?

The optimization result includes not only the best solution but also solution samples.
It would be nice to write a tutorial to introduce how to use samples, e.g., compute statistics such as mean, percentile, standard deviation and visualize a histogram #81.

[2021-04-14 09:30] ClaudioG-drl commented on #61
ADMM does not guarantee to converge to solutions that are satisfying equality constraints.

However, for your example, the 2-block implementation of ADMM (`three_block=False`) converges to the desired solution.

[2021-04-14 09:41] adekusar-drl commented on #61
@feifeng1993 Please check out the reply above.

[2021-04-15 10:10] t-imamichi opened #84 "The tutorial of converters needs to explain how solutions are interpreted"
### What is the expected enhancement?

The tutorial of converters explains how we apply `convert` only.
But, it is also important how we interpret solutions from the converted problem to the original problem.
Moreover, we need to explain that users don't need to use converters manually in most cases and the algorithms apply converters properly.

https://qiskit.org/documentation/optimization/tutori

[2021-04-15 20:54] manoelmarques opened #88 "Failure on test.algorithms.test_grover_optimizer.TestGroverOptimizer.test_samples_and_raw_samples"
### Information

- **Qiskit Optimization version**: 0.1.0 or 0.2.0
- **Python version**: >=3.6
- **Operating system**: MacOS or Ubuntu

### What is the current behavior?
The following test always fails locally on MacOS with Terra/Aer from master or pypi. On the Ubuntu CI, if I build Aer from master there, it works. If I get Aer from pypi, it fails:
[code]

### Steps to reproduce the problem

Run t

[2021-04-19 07:07] t-imamichi commented on #41
@tomtuamnuq Thank you for having an interest in this issue. Your understanding is correct.

As for 3, all algorithms should use `MaximizeToMinimize`. But, some don't have to use `_prepare_converters`, for example, ADMM applies converters manually because of the algorithm design. In this case we need to apply `MaximizeToMinimize` manually at https://github.com/Qiskit/qiskit-optimization/blob/54a6d0

[2021-04-19 09:34] t-imamichi opened #90 "Simplification"
Simplification of the internals of `QuadraticProgram` and algorithms

[2021-04-19 09:37] t-imamichi opened #91 "Solution samples"
Add new features for the solution samples and write a tutorial about the solution samples.

[2021-04-20 18:53] pawmasz commented on #81
@t-imamichi can I take a look at this?

[2021-04-21 04:27] t-imamichi commented on #81
Sure. Feel free to work on it.

[2021-04-21 07:46] t-imamichi opened #92 "MinimumEigenOptimizer returns a wrong solution"
### Information

- **Qiskit Optimization version**: latest
- **Python version**: 3.8.9
- **Operating system**: macOS 11.2.3

### What is the current behavior?

`MinimumEigenOptimizer` with qasm_simulator returns a wrong solution.

### Steps to reproduce the problem

[code]

output:
[code]

### What is the expected behavior?

The solution of VQE should be `[0. 1.]`.

### Suggested solutions

We may

[2021-04-21 19:23] manoelmarques commented on #88
This issue is preventing Stable PRs from passing unit tests

[2021-04-21 19:26] woodsp-ibm commented on #88
I added the priority label since this failure is holding up PRs in stable from being merged as they are failing this unit test there, so if this can be looked at with some urgency.

[2021-04-22 03:11] a-matsuo commented on #88
Hi @manoelmarques , I made a PR to fix this issue.

[2021-04-23 06:44] tomtuamnuq commented on #41
Hello @t-imamichi . Thank you for giving me the opportunity. I  would like to have your opinion on the changes of the results, as described in commit message. The method _interpret_samples, which was already moved to OptimizationAlgorithm, must still use https://github.com/Qiskit/qiskit-optimization/blob/92403b6f7c4e067602acc148411da1742fb356e6/qiskit_optimization/algorithms/optimization_algorithm

[2021-04-23 14:18] t-imamichi opened #99 "Performance profiling and benchmarking"
### What is the expected enhancement?

We need performance profiling of our codes to identify performance issues. We would like to setup an [airspeed velocity](https://qiskit.github.io/qiskit/) like terra.
For example, we think of Maxcut as an example of a benchmark. We measure the computation time with different numbers of nodes to check the scaling.

TODO:
- [ ] Pickup problems and algorithms fo

[2021-04-23 14:32] t-imamichi commented on #41
@adekusar-drl What do you think of non-positive value for `_trial`? It results in no iteration at https://github.com/Qiskit/qiskit-optimization/blob/92403b6f7c4e067602acc148411da1742fb356e6/qiskit_optimization/algorithms/multistart_optimizer.py#L74
Should it be checked at the setter or can we leave it as is?

[2021-04-23 14:45] woodsp-ibm commented on #99
I think there are 2 aspects here, so `Performance profiling and benchmarking.` The code can be investigated to identify bottlenecks etc and improve performance via profiling. Then, to assure performance does not deteriorate over changes, and even see improvements that may come from elsewhere, a benchmark suite can be developed. Maybe here this Issue is more about setting up the benchmark suite.

[2021-04-23 14:55] adekusar-drl commented on #41
Agree, `_trials` should be more than 1 and such a check is a good idea!

Also, please, think of `num_trials` instead of `trials`, I guess we have a lot of places where we have `num_xxx` instead of plain `xxx`, but I'm not completely sure here as the renaming would break the interface.

[2021-04-23 15:18] t-imamichi commented on #41
OK. I think it should be a separate PR. I will make an issue corresponding to `_trials`. As for naming, I don't think we need to change it now. Maybe we have a chance to revisit interface naming someday.

[2021-04-23 15:23] adekusar-drl commented on #41
Sure it's up to you!

[2021-04-23 22:33] #88 closed

[2021-04-24 05:49] deepquantum88 opened #101 "Issue with Histogram for Recursive QAOA"
### Information

- **Qiskit Aqua version**: 0.8.0
- **Python version**: 3.8.5
- **Operating system**:  Windows 10, 64bit

### What is the current behavior?
spsa = SPSA(maxiter=250)
backend = Aer.get_backend('qasm_simulator')
qaoa_mes = QAOA(optimizer=spsa, quantum_instance=backend)
qaoa = MinimumEigenOptimizer(qaoa_mes)
#result = qaoa.solve(qp)
cutoff = 3
rqaoa_solver = RecursiveMinimumEigenOptimi

[2021-04-24 12:17] deepquantum88 commented on #101
On using OptimizationResult.samples for qaoa, it lists all the sample solutions. But with rqaoa, lists only optimal one as below

[SolutionSample(x=array([1., 0., 1., 0.]), fval=-4.0, probability=1.0, status=<OptimizationResultStatus.SUCCESS: 0>)]

How can I get all solution samples from RQAOA?

[2021-04-24 12:50] t-imamichi commented on #101
`[SolutionSample(x=array([1., 0., 1., 0.]), fval=-4.0, probability=1.0, status=<OptimizationResultStatus.SUCCESS: 0>)]` is the solution sample. Because the probability is 1, there is only 1 sample. It's correct.

[2021-04-26 08:47] adekusar-drl commented on #101
Hello,

First of all, please consider moving to qiskit-optimization (https://github.com/Qiskit/qiskit-optimization/) instead of aqua. Aqua is deprecated since the release 0.9.

Then, next time please provide a snippet that can be run and examined. The example above can not be just executed and the issue can't be easily verified.

And the most important part. There is an additional parameter `histo

[2021-04-27 02:47] t-imamichi opened #106 "Check whether the number of trials is positive or not in `MultiStartOptimizer`"
### What is the expected enhancement?

`MultiStartOptimizer ` has a parameter `_trials` and it should be positive (> 0). Otherwise, it fails in the main loop.
We need to check it when `_trials` is set as follows.

https://github.com/Qiskit/qiskit-optimization/blob/51628c27f70c042adf93bedbfee16eed09a53e1b/qiskit_optimization/algorithms/multistart_optimizer.py#L55
https://github.com/Qiskit/qiskit-op

[2021-04-27 18:00] adekusar-drl commented on #101
@deepquantum88 I'm closing the issue for now. If you still have questions, you can post them here and we can re-open the issue.

[2021-04-27 18:00] #101 closed

[2021-04-27 23:36] alimustafashah commented on #106
Can you assign this task to me?

[2021-04-28 00:45] t-imamichi commented on #106
Sure. Thank you for your cooperation.

[2021-04-28 08:00] t-imamichi opened #109 "Auto adjustment of `GroverOptimizer.num_value_qubits`"
### What is the expected enhancement?

If `GroverOptimizer.num_value_qubits` is too small, it may result in an infinite loop due to overflow.
It would be great if
1. `GroverOptimizer` adjusts a sufficient value of `num_value_qubits` automatically, and/or
2. `GroverOptimizer` raise a warning message if `num_value_qubits` is too small.

[2021-04-28 22:47] pawmasz opened #112 "Adjust plot_histogram to other datasets"
### What is the expected enhancement?
`plot_histogram` function doesn't have an argument to change the y axis label for plots other than probabilities. It would also be good to adjust y axis values if they don't sum to 1, like optimized function values:

![image](https://user-images.githubusercontent.com/42217706/116481923-72329880-a884-11eb-9864-d6f27894f916.png)

[2021-04-29 07:59] iuliazidaru commented on #109
@t-imamichi I went into this issue and I'm interested in fixing this. Could you tell me what too small means? Is there a paper or we should experiment with choosing this value?

[2021-04-29 08:21] t-imamichi commented on #109
Thank you for having an interest in this issue. Here is the tutorial of `GroverOptimizer`.
https://qiskit.org/documentation/optimization/tutorials/04_grover_optimizer.html
I have no idea how to fix this issue currently.  It might be difficult.

[2021-04-29 09:01] #112 closed

[2021-04-29 10:22] iuliazidaru commented on #109
Thank you for your answer. I'm creating some experiments and let you know about the results.

[2021-05-05 10:01] iuliazidaru commented on #109
It looks like num_value_qubits can be set starting with 1 and the algorithm works. The right solution is not always found. When increasing it the execution time starts to increase. It may get to a point when it get's disconnected in Jupyter output ( It happens that the result is there but the cell is still in running mode. I stopped the cell and the result appeared).
I attach some tests.

[grover_

[2021-05-06 12:31] t-imamichi commented on #109
For example, if you set `num_values_qubits` smaller in the unit test, it does not pass.
https://github.com/Qiskit/qiskit-optimization/blob/6a7642d84e43c5a33c60630363633905992f8cc7/test/algorithms/test_grover_optimizer.py#L194

[2021-05-07 08:19] Cryoris commented on #92
Do we need to reverse the solution bitstring or would it maybe be better to reverse the bits in the Hamiltonian? Then the solution with the `MinimumEigenOptimizer` would be consistent with both CPLEX and `VQE`.

If we only flip the solution in `MinimumEigenOptimizer`, the solution bitstring will be the same as for CPLEX but if I do a manual optimization by using `VQE` directly, the order will not

[2021-05-07 08:36] t-imamichi commented on #92
Yes, it will be fixed in #97

[2021-05-07 09:12] a-matsuo commented on #92
You're right. I only flipped the solution in `MinimumEigenOptimizer` in #97.
Hmm, ya, it might be better to reverse the bits in the Hamiltonian for consistency.
We can reverse the bits in the Hamiltonian, easily. Currently, variable x_0 is mapped to qubit q_0, x1 -> q1,..., and x_n -> q_n. If we want reverse the bits in the Hamiltonian, we map x_0 -> q_n, x_1 -> q_n-1, ..., and x_n -> q_0.

[2021-05-07 09:37] t-imamichi commented on #92
Oh, sorry. I missed the point. We need to revisit the ordering of Hamiltonian. How about discussing it in another issue?

[2021-05-07 09:47] Cryoris commented on #92
Why not in this issue? 🙂 If the changes are not too big it would probably be better to do only one fix instead of first re-ordering the solution bits and then undoing this by re-ordering the Hamiltonian.

@a-matsuo do you think you could check if reversing the Hamiltonian order fixes the problem consistently? 🙂

[2021-05-07 10:16] t-imamichi commented on #92
But, as you say, it's a good opportunity to change the order because this library is new.

[2021-05-07 10:24] t-imamichi commented on #92
Anyways, we need to clarify the order of Hamiltonian in docstrings of `to_ising` and `from_ising`.

[2021-05-07 11:08] a-matsuo commented on #92
@Cryoris Sure. Let me check reversing the Hamiltonian order works correctly as I expect. I will work on it next week.
@t-imamichi Ya, we need to clarify the order of Hamiltonian in docstrings if we change it.

[2021-05-07 13:29] t-imamichi commented on #92
If we reverse the Hamiltonian ordering, `QuantumInstance.initial_layout` might be mapped in the reverse order. We need to verify it. Users expect `initial_layout` is mapped to the same order of variables.

[2021-05-10 14:16] dlasecki opened #123 "Benchmarking Optimization module - infrastructure"
### What is the expected behavior?
The goal is to set up a benchmarking infrastructure and deploy relevant benchmarks to assess the performance and locate bottlenecks of crucial algorithms and workflows.

[2021-05-10 14:20] dlasecki opened #124 "Set up a benchmarking server machine"
### What is the expected behavior?
Set up benchmarking hardware - OS, remote access, necessary tools and dependencies.

[2021-05-10 14:23] dlasecki commented on #124
The machine is ready to go. Its API address is: 9.4.21.52 and can be accessed through our VPN. I am in the possession of login credentials.

[2021-05-11 09:47] a-matsuo commented on #92
From the perspective of operators, when users manually make Ising Hamiltonians for optimization problems, it is natural to think mapping qubit 1 to variable 1. If we reverse. I think the current way (mapping x1 to q1) makes sense.

Then, for the above issue, maybe, writing clear docstrings is the only solution?

[2021-05-11 09:54] t-imamichi commented on #92
Agree. It's good to add a docstring about mapping of variables to qubits.

[2021-05-11 14:27] Cryoris commented on #92
I don't think it's a good long term solution to have different qubit ordering in Qiskit Core and in the application modules. This will require users to exactly know in which part of Qiskit they are operating and swap qubit orders in the right places -- which can even be confusing for us developers! 😄

It's true that many users are used to big endian notation, but Qiskit just doesn't use big endian

[2021-05-12 06:04] t-imamichi commented on #92
I updated the docstrings of `to_ising` and `from_ising`. If there is no more comments about #97, I will merge it.

[2021-05-14 15:32] dalevras opened #133 "Add optimality target parameter to cplex.solve() in CplexOptimizer"
When using Cplex to solve a Quadratic problem (or as a presolver in Warm Start)  the user may get "CPLEX Error 5002: objective is not convex". CPLEX has the option to find a solution that satisfies first-order optimality conditions (reaching a potentially local optimum) by setting optimality target to 2. This may be particularly useful in getting a warm start even when the objective is not convex.

[2021-05-14 18:21] woodsp-ibm opened #134 "GroverOptimizer `is_good_state` does not appear to be getting called"
An `is_good_state` method is passed to Grover but seems not be being called as discussed in PR #132

[2021-05-14 21:11] MartinBeseda commented on #82
Dear @t-imamichi , I'd have a look at this one. Just one beginner question - is the samples' structure same for all the optimization methods as listed [here](https://qiskit.org/documentation/tutorials/optimization/index.html)? Thank you very much for the answer,
Martin

[2021-05-18 02:50] t-imamichi commented on #82
Hi, thank you for having an interest in this task. The original tutorials are in this directory. https://github.com/Qiskit/qiskit-optimization/tree/main/docs/tutorials

[2021-05-18 03:00] t-imamichi opened #138 "CI fails with Terra main branch"
### Information

- **Qiskit Optimization version**: main (latest)
- **Python version**: 3.6-3.9
- **Operating system**: Ubuntu (CI)

### What is the current behavior?

CI fails `test.algorithms.test_min_eigen_optimizer.TestMinEigenOptimizer.test_samples_qaoa_2_qasm
`

It is due to Terra's QAOA change https://github.com/Qiskit/qiskit-terra/pull/6396
Details https://github.com/Qiskit/qiskit-terra/is

[2021-05-19 06:13] #138 closed

[2021-05-19 06:13] t-imamichi commented on #138
Fixed by #136

[2021-05-19 06:16] t-imamichi commented on #133
Thank you for your proposal. It might be good to take not only optimality target but also other CPLEX options.

[2021-05-19 13:07] t-imamichi commented on #133
I extended `CplexOptimizer` to accept `cplex_parameters` as same as [docplex.mp.model.Model.solve](https://ibmdecisionoptimization.github.io/docplex-doc/mp/docplex.mp.model.html#docplex.mp.model.Model.solve)
https://github.com/Qiskit/qiskit-optimization/blob/00fd67e029ded6b76e1a9f73eb17ccc628a4f776/qiskit_optimization/algorithms/cplex_optimizer.py#L54

[2021-05-19 13:13] #133 closed

[2021-05-19 13:56] #92 closed

[2021-05-21 05:49] #124 closed

[2021-05-21 17:24] #41 closed

[2021-05-24 03:06] t-imamichi opened #143 "GoemansWilliamsonOptimizer needs to check the sense of the input problem"
### What is the expected enhancement?

GoemansWilliamsonOptimizer is a utility solver used as a presolver of WarmStartQAOA and can deal with only maximization problem. But, it does not check the sense of the input problem.
It needs to add a check of sense or modify the GW optimizer to be a minimization optimizer.

Discussed in https://github.com/Qiskit/qiskit-optimization/pull/114#discussion_r6369

[2021-05-25 09:25] #143 closed

[2021-05-26 02:31] t-imamichi opened #146 "Spell check of tutorials"
Apply spell check to tutorials

[2021-05-26 07:31] t-imamichi opened #147 "Replacement of networkx with retworkx"
### What is the expected enhancement?

Replace networkx with retworkx in qiskit-optimization/applications.

[2021-05-26 09:38] JoshDumo commented on #146
Hi! I'm new at this but I hope I can do this one. Is there a special/dedicated way to do this (scared by the Epic tag!)?

[2021-05-26 14:06] t-imamichi commented on #146
Thank you. But, this is just an epic to manage a group of issues. They are almost done already. How about some issues with documentation tag?

[2021-05-26 18:04] JoshDumo commented on #146
Got it,  will check those out.

[2021-05-31 13:22] MartinBeseda commented on #82
Dear @t-imamichi , I've opened a pull request with the supplemented documentation (10_warm_start_qaoa.ipynb, section Analysis), where I've added info about usage of samples.

I've also written few simple functions to demonstrate the usage:

[code]

Would it be useful to include them in some form as methods into `OptimizationResult` object?

Also, I didn't use code provided in #82, as the pull requ

[2021-06-02 13:08] t-imamichi commented on #82
First of all, I appreciate your contributions. As I commented at #152, you section might be good to move 03_minimum_eigen_optimizer because it is more general optimizer. On the other hand, warm start QAOA is a special type of optimizer.

As for your utility functions, I don't think we need to include it as part of `OptimizationResult` because they are mostly one line and users can easily write a s

[2021-06-03 10:21] t-imamichi opened #153 "Remove deprecated codes for release 0.2.0"
### What is the expected enhancement?

Remove deprecated codes in the previous version. I will do it.

[2021-06-04 14:30] MartinBeseda commented on #82
Dear @t-imamichi ,
thank you very much for your kind suggestions!
I've rewritten the section to `03_minimum_eigen_optimizer` tutorial and removed it from `10_warm_start_qaoa`. Is it better like this?

Also, I understand your objection concerning the utility functions - they really are pretty easy :-)

[2021-06-05 06:54] t-imamichi commented on #24
This issue is resolved with docplex 2.21.207.

[2021-06-05 12:50] #24 closed

[2021-06-09 09:16] t-imamichi opened #159 "Make docplex optional"
### What is the expected enhancement?

Once we support model translators, some users don't want to use docplex as dependent.
So, I would like to investigate how we can make `QuadraticProgram` works without docplex.

[2021-06-09 16:56] woodsp-ibm commented on #159
Is there a given reason why users don't want it as a dependent - if its used by QP internally what does it matter? It is simply installed by pip as a dependent and is under Apache license; what is the rationale of more optionality here? In the past for big/complex packages it has been disk/memory space since some want to run in more limited envs e.g. small containers - sometimes it has been licens

[2021-06-10 07:41] t-imamichi commented on #159
This is a request from @stefan-woerner. He mentioned that Gurobi users might not want to install docplex.

[2021-06-14 18:31] #80 closed

[2021-06-16 05:13] #106 closed

[2021-06-16 07:49] #146 closed

[2021-06-16 12:53] Cryoris opened #168 "QAOA Runtime Program"
### What is the expected behavior?

Allow executing QAOA in the cloud using Qiskit Runtime.

[2021-06-17 01:25] #13 closed

[2021-06-19 07:18] saum-g opened #171 "Callback for example in readme"
I added a callback to the QAOA constructor in the example in the README. The callback appends the mean value to a list and later I plot a graph of those values. Instead of the mean cost increasing with iteration number, it seems to be decreasing in the graph obtained. Is this some issue with the callback or something else?

[2021-06-19 14:51] woodsp-ibm commented on #171
Although the problem is created for maximize you can see it uses a MinimumEigenOptimizer to solve it. If you look into the code of MinimumEigenOptimizer you will find it runs convertors to turn the problem into something it can solve - as part of this it will convert it to a minimization problem (see code snippets below). This is why you see the values decreasing. In the end there is an interpret

[2021-06-20 08:14] saum-g commented on #171
Thanks a lot for your explanation, particularly for the pointers to code. That clarifies my confusion

[2021-06-20 08:14] #171 closed

[2021-06-21 12:55] dlasecki opened #173 "Migrate the optimization benchmarking PR to a new repo."
There will be a separate repository created for the purpose of code benchmarking. The goal of this task is to migrate the PoC benchmarking PR from Qiskit Optimization to the separate repo.
The PoC PR can be found here:
https://github.com/Qiskit/qiskit-optimization/pull/108.

[2021-06-21 17:50] manoelmarques commented on #173
This issue can be closed. The repository with the Optimization benchmark has been created at https://github.com/Qiskit/qiskit-app-benchmarks

[2021-06-22 06:55] #173 closed

[2021-06-22 10:29] MartinBeseda commented on #91
Dear @t-imamichi , what features are we talking about here? Some more in-depth statistics?

[2021-06-22 10:36] MartinBeseda commented on #81
@pawmasz @t-imamichi Is this issue still being worked on? If it isn't I'd take a look at it - if it is, I'm sorry to bother your both.

Martin

[2021-06-22 10:38] pawmasz commented on #81
Go ahead 😉

[2021-06-22 11:58] t-imamichi commented on #91
This is an epic issue for me to organize multiple issues related to solution samples. You can ignore it. Thanks.

[2021-06-22 12:00] t-imamichi commented on #81
I think the examples in #152 are enough for most users to visualize the samples.

[2021-06-22 16:40] t-imamichi opened #175 "Mypy reports an error with Numpy 1.21"
### Information

- **Qiskit Optimization version**: latest
- **Python version**: python 3.7.10, python 3.8.5
- **Operating system**: ubuntu 20.04.2

### What is the current behavior?

`make mypy` reports the following error with the main branch.
[code]

This happens with numpy 1.21 (released 3 hours ago). https://github.com/numpy/numpy/releases/tag/v1.21.0
Mypy does not report the error with numpy

[2021-06-23 06:50] #82 closed

[2021-06-23 08:01] #175 closed

[2021-06-23 08:49] t-imamichi opened #177 "Enable some mypy options"
### What is the expected enhancement?

Some mypy options look useful. How about enabling following options?
https://mypy.readthedocs.io/en/stable/command_line.html

- [--no-implicit-optional](https://mypy.readthedocs.io/en/stable/command_line.html#cmdoption-mypy-no-implicit-optional)

- [--warn-redundant-casts](https://mypy.readthedocs.io/en/stable/command_line.html#cmdoption-mypy-warn-redundant-c

[2021-06-23 14:03] t-imamichi commented on #153
#122 #161 removed deprecated codes.

[2021-06-23 14:03] #153 closed

[2021-06-24 14:39] dlasecki opened #179 "Create a dockerfile for running applications benchmarks"
Our benchmarking server will run benchmarks from within a Docker container. The goal of this issue is to write a dockerfile that will create a respective Docker image with necessary dependencies which will run a bash script for benchmarking.

[2021-06-24 14:50] t-imamichi commented on #179
Just out of curiosity. Do we need a dockerfile for each application repo? Is it sufficient to make dockerfiles in https://github.com/Qiskit/qiskit-app-benchmarks?

[2021-06-24 14:56] t-imamichi commented on #77
The current `__repr__` does not follow the Python's convention. We should fix it.

https://docs.python.org/3/reference/datamodel.html#object.__repr__

https://docs.python.org/3/reference/datamodel.html#object.__str__

[2021-06-25 13:21] dlasecki commented on #179
Benchmarks for each application repo are run by the same bash script collectively (https://github.com/Qiskit/qiskit-app-benchmarks/blob/main/tools/cron_script.sh). We need only 1 dockerfile on the server which will basically run the script above. We still need to test whether Docker provides an environment which is stable enough for benchmarking. In certain cases it might introduce unwanted spikes

[2021-06-28 09:37] t-imamichi commented on #179
If the docker file of qiskit-opt is used for benchmarking purpose, I think it's good to make it in qiskit-app-benchmarks. Could you explain more details of the benchmarking workflow? When you take a profile, does qiskit-app-benchmarks require to clone all app repos to fetch a dockerfile for each app?

[2021-06-28 10:54] MartinBeseda commented on #179
Dear @dlasecki ,
Dear @t-imamichi ,

can I have a look at this issue? I'd have time for that by the end of this week.

Martin

[2021-06-28 11:09] dlasecki commented on #179
@MartinBeseda Thanks for offering help but the issue is basically done at this stage.

[2021-07-02 11:43] #168 closed

[2021-07-07 01:08] #40 closed

[2021-07-07 09:01] #179 closed

[2021-07-09 14:02] X-Libor opened #201 "GraphOptimizationApplication, single responsibility principle"
### What is the expected enhancement?

the static method `random_graph` in the `GraphOptimizationApplication`
violates the single responsibility principle. Please create some helper and move it there.

[2021-07-09 14:31] X-Libor commented on #201
BTW, it might be ok to have some "reasonable" (not a single line application of some library) generators of random problems. For graphs I can imagine planted problems, d-regular graphs of high grith etc. I dont know if they are in some other libraries like NetworkX.

[2021-07-09 14:45] t-imamichi commented on #201
`GraphOptimizationApplication` can take networkx graph as an input. So, we don't need to generate a random graph by `GraphOptimizationApplication`. We need to use just networkx's random graph features. Alternative is retworkx's random graphs.

[2021-07-09 22:27] X-Libor commented on #201
Fine with me. I don't feel it should be in `GraphOptimizationApplication`. And I wanted to point out that there might be some cases that are interesting, which are not in the networkx, retworkx, and so. as I mentioned above.

[2021-07-12 08:12] t-imamichi commented on #201
What kind of helper file do you want?

[2021-07-22 22:12] woodsp-ibm opened #210 "WarmStartQAOAOptimizer fails with initial point length mismatch"
The issue was originally raised on Qiskit Slack #aqua channel [here](https://qiskit.slack.com/archives/CB6C24TPB/p1626853510489500)

The following code sample, based on what was provided in that discussion, works at reps=1 (or at least it does for me but gave the originator of the message this error `ValueError: array must not contain infs or NaNs` that I could not reproduce). At reps > 1 then it

[2021-07-23 08:14] lasys opened #211 "Pack Header Error when using QAOAProgram"
### Information

I want to teste the QAOAProgram from `qiskit_optimization.runtime` with current versions:

- **Qiskit Optimization version**: 0.2.0
- **Qiskit version**: 0.28.0
- **Python version**: 3.7.11
- **Operating system**: Linux

### What is the current behavior?

I got this error:

[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

In the previous Qisk

[2021-07-23 10:21] Cryoris commented on #211
Thanks for reporting!

This is due to the fact that the global phase of the QAOA ansatz is a `ParameterExpression`, which is unsupported by the QPY serialization which expects a float as global phase. We can fix this by updating the QAOA ansatz to ensure that the global phase is a float, or by making QPY support parameterized global phases.

I'll open a PR to fix this in Terra.

[2021-07-23 11:38] mtreinish commented on #211
At least for the QPY part here it is fixable, but not without a format revision (the file format assume a float global phase: https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/circuit/qpy_serialization.py#L69) which is fine, but it means we won't be able to fix it in a 0.18.x release. Until we can release a qpy v2 format that includes a provision for parameter expression global phase it migh

[2021-07-23 11:47] Cryoris commented on #211
Done in Qiskit/qiskit-terra#6792. Should we open an issue to keep track of the desired feature for QPY?

[2021-07-23 13:13] adekusar-drl commented on #210
I confirm the code works with Qiskit 0.27, but does not with 0.28. The problem is introduced here: https://github.com/Qiskit/qiskit-terra/pull/6396. Now the number of parameters in `QAOAAnsatz` computed incorrectly and the `beta` parameter has only one value for all `reps`. @Cryoris please confirm.

[2021-07-23 13:33] mtreinish commented on #211
Yeah, I think it warrants an issue we can track for the 0.19.0 milestone.

[2021-07-23 15:40] X-Libor opened #212 "Evaluate objective function of a QuadraticProgram with a given valuation of variables."
### What is the expected enhancement?
Add a function that evaluates the objective function of a `QuadraticProgram` with a valuation given as an input.
(Or direct me where I can find it.)

[2021-07-26 05:56] a-matsuo commented on #212
You can find `evaluation` function here.
https://github.com/Qiskit/qiskit-optimization/blob/cec8a3ebca5fbb309ad36d87f638f46e7d424446/qiskit_optimization/problems/quadratic_objective.py#L162

[2021-07-26 11:16] #211 closed

[2021-07-27 16:51] #201 closed

[2021-07-28 12:44] #212 closed

[2021-07-28 17:54] mtreinish commented on #211
I fixed the qpy portion of this in: https://github.com/Qiskit/qiskit-terra/pull/6824 but it won't be released until 0.19.0 (it's not backportable)

[2021-07-30 11:13] t-imamichi opened #217 "Tutorial of Qiskit Runtime"
### What is the expected enhancement?

It would be nice to have a tutorial of `VQEProgram` and `QAOAProgram` of Qiskit Runtime.

[2021-07-30 13:45] woodsp-ibm commented on #217
There is of course the one for [VQEProgram in Nature](https://qiskit.org/documentation/nature/tutorials/07_leveraging_qiskit_runtime.html) - that is done with a chemistry example though. Perhaps here if its more focussed around QAOAProgram for optimization (even though its going to be very similar concepts runtime-wise) then maybe just shows VQEProgram solving the same thing it will be different e

[2021-08-03 09:09] lasys opened #219 "Job failed unexpectedly with QAOAProgram"
### Information

- **Qiskit Optimization version**: 0.2
- **Qiskit version**: 0.27
- **Python version**: 3.7.11
- **Operating system**: Linux

### What is the current behavior?

In the IBM Quantum Dashboard the Job is listed as failed and the program output is:

[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

Job should run without error.

### Suggested solu

[2021-08-04 08:03] lasys opened #222 "MinimumEigenOptimizer fails with QAOAProgram"
### Information

- **Qiskit Optimization version**: 0.2.1
- **Qiskit version**: 0.29
- **Python version**: 3.7.11
- **Operating system**: Linux

### What is the current behavior?

Program ends with error:

[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

Program should run without error.

### Suggested solutions

Override classmethod `supports_aux_operators`

[2021-08-04 12:56] t-imamichi opened #224 "Qiskit Runtime"

[2021-08-04 12:59] #91 closed

[2021-08-04 13:34] t-imamichi commented on #210
I tried the script in https://github.com/Qiskit/qiskit-optimization/issues/210#issue-951099960 with qiskit-optimization main and https://github.com/Qiskit/qiskit-terra/pull/6828. It works as follows.
[code]

[2021-08-15 13:57] t-imamichi opened #225 "Scheduled CI failed"
### Information

- **Qiskit Optimization version**: latest
- **Python version**: Github Actions
- **Operating system**: Github Actions

### What is the current behavior?

Scheduled CI failed.
https://github.com/Qiskit/qiskit-optimization/actions/runs/1131728954

Unit tests of GroverOptimizer takes so long time.
https://github.com/Qiskit/qiskit-terra/pull/6831 seems the cause. It changes `QuantumCi

[2021-08-15 14:37] t-imamichi commented on #225
I created https://github.com/Qiskit/qiskit-terra/pull/6910 to resolve this issue.

[2021-08-16 08:50] #225 closed

[2021-08-16 14:09] #222 closed

[2021-08-17 22:55] wpoxon-qci opened #227 "qiskit_optimization encounters an exception when trying to convert an integer variable to binary when the value of the variable is 0."
### Information

- **Qiskit Optimization version**: 0.2.1
- **Python version**: 3.8.6
- **Operating system**: AWS EC2 linux 5.4.0-1051-aws 53~18.04.1-Ubuntu SMP x86_64

### What is the current behavior?

qiskit_optimization encounters an error (`np.log2` exception) when trying to convert an integer variable to binary when the value of the integer variable is 0.

[code]

### Steps to reproduce the

[2021-08-18 09:13] t-imamichi commented on #227
If the variable range is zero, it is good to substitute the variable with the corresponding constant value using `QuadraticProgram.substitute`. Maybe we need to tweak int2bin converter to do it or somewhere else.

[2021-08-18 09:19] t-imamichi opened #228 "Add or tweak a converter to deal with trivial variables and constraints"
### What is the expected enhancement?

`QuadraticProgram` may include trivial variables and constraints.
For example, #227 includes a trivial variable (lower bound and upper bound are equal).

Here is an example of a trivial constraint.
[code]
It is good to eliminate such trivial cases in some existing converters or a new converter.

Fixes #227

[2021-08-18 09:40] atulanand206 commented on #228
Hi @t-imamichi

I'd like to fix this problem.

I went through the piece of code mentioned #227 and we have to find a workaround when the bounds range is 0. We could set the value of power as 0 directly which calculating the `np.log2(var_range)`. This would prevent the exception from being raised.

I've little to no idea about the purpose of the converters but just isolating the method seems solvab

[2021-08-18 16:48] t-imamichi commented on #228
Thank you for raising a hand for this issue.
Because it is more important to fix the bug #227, I recommend to add a workaround for `IntegerToBinary` converter.
As I commented https://github.com/Qiskit/qiskit-optimization/issues/227#issuecomment-900953877, if variable range is zero, we can substitute the variable with a constant value.

Estimated tasks are as follows:
- Apply `QuadraticProgram.subs

[2021-08-18 17:15] wpoxon-qci commented on #227
Thank you very much for investigating this issue and for your very quick response!

I will follow up with a question / suggestion in #228.

[2021-08-18 17:26] wpoxon-qci commented on #228
I have one quick question / suggestion:

Would a potential fix be to insert a check here (above this line):
https://github.com/Qiskit/qiskit-optimization/blob/103db34daf68f0d4c93a558891a50bb0b5de2450/qiskit_optimization/converters/integer_to_binary.py#L104

for `if var_range:`

and only execute the rest of the current code in `_convert_var()` if `var_range` is non-zero?

Then it might work to add:

[2021-08-19 02:55] t-imamichi commented on #228
@wpoxon-qci Thank you for your solution. It looks good to be a workaround. Just I suggest `power = int(np.log2(var_range)) if var_range > 0 else 0` to be clear.
As I wrote https://github.com/Qiskit/qiskit-optimization/issues/228#issuecomment-901268665, it's OK to make a PR with a workaround, unit tests, and a release note.

[2021-08-19 05:37] t-imamichi commented on #228
@wpoxon-qci I made another bug fix of int2bin #230. If you are OK, I can include your suggestion as part of #230. If you want to make your own PR, it's also alright. What do you think?

[2021-08-19 15:06] wpoxon-qci commented on #228
@t-imamichi - Thank you for your improvements to my proposed fix.  I like your version of the change better.  I can take your proposed change and run it in my environment and provide confirmation that it fixes my original issue in #227.  It should be fine, but I will just try it and provide positive confirmation.

[2021-08-19 15:08] wpoxon-qci commented on #228
@t-imamichi - if you are already working on a PR for another fix in the int2bin code, please go ahead and include the fix for this issue in your other PR.  Thank you!

[2021-08-19 15:44] wpoxon-qci commented on #228
@t-imamichi - just confirming.  Your suggested version of the fix also works to resolve the original issue I submitted in #227.
I re-ran my test and it passed with the modifications to the fix that you suggested.  Here is an updated version of the change that I tested with:

[code]
If you are willing to include this change when you make your other int2bin fix in #230 that would be excellent.  Than

[2021-08-19 16:15] atulanand206 commented on #228
@wpoxon-qci I was thinking exactly the same. Apologies it took me a while to revert.

As @t-imamichi is already working on this, he can proceed and add it in his PR. If required, I can raise a fix for this post confirmation.

I'd happy to look at any other outstanding issue. Would be glad if you can point in the relevant direction.

[2021-08-20 09:14] t-imamichi commented on #228
Thank you, @wpoxon-qci. I will include @wpoxon-qci's solution in #230.

@atulanand206 We still need to handle trivial variables and constraints even if we merge #230. If you wish, you can work on it. I will add another issue for the topic because we discussed a lot about the workaround in this thread already. I would like to avoid confusion of discussion.

[2021-08-24 03:06] #227 closed

[2021-08-30 03:13] t-imamichi opened #241 "CI fails on Windows"
### Information

- **Qiskit Optimization version**: latest
- **Python version**: 3.8
- **Operating system**: Windows 10

### What is the current behavior?

CI fails. https://github.com/Qiskit/qiskit-optimization/actions/runs/1178358017

[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-08-30 18:17] woodsp-ibm commented on #241
In looking at the test case, from what I can see the problem is symmetric, in the two variables, such that the solution found is correct, just it has swapped the variables
[code]
 Hence to me it seems that the test case could be improved to cover that - given that this seems most likely to be platform dependent behavior in arriving at the solution.

[2021-08-31 02:59] t-imamichi commented on #241
Good catch. It might be a reason. Unfortunately, this issue is hard for me to resolve because it does not reproduce on my local Windows 10 environment. All unit tests pass successfully...

[2021-08-31 14:07] woodsp-ibm commented on #241
Your Win 10 env is with Python 3.8 like the unit test? I can see if I can reproduce it locally (I have 3.8.8). Either way I think this is a valid result right and if so then the fix just seems to be to allow either solution as a valid result in which case CI should then pass, even if in some other env we cannot reproduce the exact solution it ends up with in CI.

[2021-09-01 02:35] t-imamichi commented on #241
Yes, I use Python 3.8.10 on my Windows 10. I'm wondering what's the difference of my env and (your env or CI env). If it reproduces on my env, I can work on it...

[2021-09-01 03:29] woodsp-ibm commented on #241
I have not been able to reproduce the error yet. I made a script from the test case and have it in a for loop. It was running and I could not reproduce the failure and I was looking at Cplex and saw it has a `randomseed` parameter so stopped the test and  altered the CplexOptimizer creation to pass that as a cplex_parameter - plus for each loop iteration I made it a random value. It ran earlier fo

[2021-09-01 16:31] manoelmarques commented on #241
The windows CI was installing Terra from main outside the conda environment and later Aer was installing Terra from pypi inside it. So the Windows CI was running against all dependencies from main but Terra that was from Pypi.

[2021-09-01 20:58] manoelmarques commented on #241
I reopened because despite working on branch "main" it still fails on branch "stable". I suspect it has to do with Terra "stable" (pypi) since the bug in the CI was using "stable" Terra in "main".

[2021-09-02 09:34] #241 closed

[2021-09-08 12:28] #123 closed

[2021-09-15 17:20] lasys commented on #210
@t-imamichi could you please also check, if all beta values are set correctly?
i'm not sure if that the parameter beta here: [WarmStartQAOAFactory](https://github.com/Qiskit/qiskit-optimization/blob/c227a64a7f966c22f11ecd3d764332a026dde90a/qiskit_optimization/algorithms/warm_start_qaoa_optimizer.py#L185) is considered in the PR you mentioned.  Thanks!

[2021-09-19 14:12] wpoxon-qci commented on #227
@t-imamichi - I just wanted to check with you again and see if there are any plans yet for a new release which would include the fix for this issue. Thank you!

[2021-09-22 09:49] t-imamichi commented on #210
I executed the same code https://github.com/Qiskit/qiskit-optimization/issues/210#issuecomment-892663105 with the main branch and it generated the same output. I don't know what are the expected values for beta, but, I see the dimension matches and the code runs without any error.

[2021-09-22 09:50] #228 closed

[2021-09-22 17:12] prabh27 commented on #61
I would like to ask a follow up on this:

The paper shows the following example:

[code]

I modified the example to remove the equality constraint:

[code]
I try the following parameters:
[code]
and
[code]

The code used to solve the optimization problem classically is:
[code]

In both of the cases, I get the status as infeasible:
[code]
I would like to know if there are any steps or parameters I

[2021-09-23 06:01] clausia opened #255 "Add Max-k-cut appication"
### What is the expected behavior?
Being able to solve a Max-k-cut type problem

----

**Add Max-k-cut application**

We propose to add the functionality to be able to solve the Max-k-cut problem, similar to how the class that contains the Maxcut application already exists.

We have already made progress on this project between Vyron Vasileiadis (@fedonman) and myself (Claudia Zendejas-Morales, @c

[2021-09-23 08:58] adekusar-drl commented on #61
@prabh27 ADMM is suitable for solving MIP problems and does not guarantee convergence, it is a heuristic algorithm. A choice of the initial parameters plays a vital role. I'd suggest to take a look at the original paper: https://arxiv.org/pdf/2001.02069.pdf

[2021-09-23 08:59] #61 closed

[2021-09-23 09:02] t-imamichi commented on #227
Hi. We released a new version with this fix today.

[2021-09-24 15:02] EliasCombarro opened #256 "Request: extend the options and the information returned by MinimumEigenOptimizer.solve"
If I understood the code correctly, currently MinimumEigenOptimizer.solve returns the "best" solution of those with sampling probability at least 1e-6. In my opinion, this is a little bit confusing (at least, it had me scratching my head for a couple of hours) because no information of the actual probability of finding that solution is given. I was comparing the results obtained by using QAOA dire

[2021-09-29 09:16] t-imamichi commented on #256
Thank you for your feedback. The threshold `min_probability` is not documented in the public classes or methods and users cannot change the value either. Removing `min_probability` would be an option.

[2021-09-29 09:23] EliasCombarro commented on #256
Thanks. I am not sure how the min_probability removal you propose would work. Would all the solutions be considered regardless of their probability? In that case, the correct solution would be returned every time, wouldn't it?

Thanks in advance!

Elías

[2021-09-29 16:08] t-imamichi commented on #256
As for the filter of solutions, pick up the most likely solution, or sort of solutions with different criteria, you can do it by analyzing the solution samples. See [a tutorial](https://qiskit.org/documentation/optimization/tutorials/03_minimum_eigen_optimizer.html#Analysis-of-Samples).
It might be better for us to mention in tutorials and/or API references that `OptimizationResult.{x, fval}` is t

[2021-09-29 16:12] EliasCombarro commented on #256
Thanks, I, had somehow missed that tutorial. It is really heplful.

[2021-09-29 16:25] t-imamichi commented on #256
You are welcome. Then, I close this issue.

[2021-09-29 16:25] #256 closed

[2021-09-29 16:29] EliasCombarro commented on #256
Yes, thanks. Although I still think that it would be good to mention that "solve" returns the best solution irregardlessly of its probability

[2021-10-05 14:17] lasys opened #264 "RecursiveMinimumEigenOptimizer with QAOA throws ValueError."
### Information

- **Qiskit Optimization version**: 0.2.2
- **Qiskit version**: 0.29.0
- **Python version**: 3.8.6
- **Operating system**: Linux

### What is the current behavior?

RecursiveMinimumEigenOptimizer / pauli_trotter_evolution throws following error:

[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

The program runs without errors.

### Suggested s

[2021-10-13 13:22] t-imamichi commented on #210
Because https://github.com/Qiskit/qiskit-terra/pull/6828 is merged, I think this issue is fixed. This is the output in my environment with the latest terra and opt.
[code]

[2021-11-03 06:49] EliasCombarro opened #273 "QAOA does not update the operator when calling construct_circuit"
### Information

- **Qiskit Optimization version**: The one on the IBM Quantum Experience
- **Python version**: The one on the IBM Quantum Experience
- **Operating system**: The one on the IBM Quantum Experience

### What is the current behavior?

If you call construct_circuit with two different operators, the second time the operator is not updated and the operator of the first call is used inste

[2021-11-03 09:00] t-imamichi commented on #273
Thank you for your report. Because `QAOA` is part of Terra, could you report it there? https://github.com/Qiskit/qiskit-terra/issues

[2021-11-04 12:00] t-imamichi commented on #264
`RecursiveMinimumEigenOptimizer` iteratively solves the problem by fixing some variables. The subproblems have smaller number of variables than that of the original problem. So, setting `initial_point` explicitly does not work because the size of `initial_point` can be larger than that of subproblems.

[2021-11-04 12:01] #210 closed

[2021-11-09 06:23] t-imamichi commented on #264
If you still have an issue, please reopen this.

[2021-11-09 06:23] #264 closed

[2021-11-17 04:00] t-imamichi opened #279 "Improve coverage"
### What is the expected enhancement?

Improve coverage of unit tests.

[2021-11-17 04:02] t-imamichi commented on #279
As of Nov 17. https://coveralls.io/builds/44321282

[2021-11-22 06:04] amitracal opened #281 "QAOA Runtime method yielding inconsistent results"
### Environment

- **Qiskit Optimization version**:
- **Python version**:
- **Operating system**:

![Version 11_21_21](https://user-images.githubusercontent.com/69091655/142808496-4f2abd49-4454-4b25-9433-0d3117a845fd.PNG)

### What is happening?

Results are inconsistent when using QAOAProgram method as shown in the attached notebook

### How can we reproduce the issue?

Run the attached notebook

[2021-11-22 06:10] t-imamichi commented on #281
Since QAOA is a heuristic algorithm, results of QAOA do not always match those of Numpy minimum eigen solver (exact algorithm).

[2021-11-25 10:41] gcattan opened #283 "Question: optimization of a problem with continuous variable"
Hello,

I would like to conduct some optimization of a model containing matrices with continuous variables.
Is rounding to some precision and converting integers to binaries a correct way to do this?
Can I expect an outcome (in terms of precision) as compared to a "classical" computation?

Thank you in advance for the help or any resource you might point me to.

[2021-11-25 11:01] t-imamichi commented on #283
ADMM might be applicable to deal with your model with continuous variables. See https://qiskit.org/documentation/optimization/tutorials/05_admm_optimizer.html

[2021-11-25 11:20] gcattan commented on #283
Thank you very much for this useful resource. What I understand after reading the doc is that continuous variables will be optimized with a classical solver, and only unconstraint binary variables will be optimized on quantum.

Is there a way to convert continuous variables in such a way they can be quantumly optimized (with some advantage)?
Or is there a plan to implement a similar feature in a n

[2021-11-28 01:28] amitracal commented on #281
True but this is consistently inconsistent, which is not the case when I create a custom shell program for runtime on QAOA method instead of QAOAProgram method.

[2021-11-29 10:13] t-imamichi commented on #281
@Cryoris Do you have any thought?

[2021-11-29 11:10] Cryoris commented on #281
@amitracal The zip file you included doesn't work for me, could you check that it's the right file? Without more description it's a bit difficult to say more.

So far, I don't think there are known bugs with the VQE/QAOA programs. Are your reference results also from real devices or from simulations? How large are the circuits you're running?

[2021-12-01 14:28] t-imamichi commented on #283
If you want to deal with continuous variables quantumly, you need to encode it with qubits. Because the number of qubits is very limited, you need to encode it by yourself, for example, in a form `coeff * integer_var`.

[2021-12-01 15:00] gcattan commented on #283
Ok, thank you for the answer. Do you know if there is a plan to implement something like QAOA for continuous problems in the future?

[2021-12-01 15:17] t-imamichi commented on #283
I don't think we have any plan for that direction. We welcome your idea to realize it.

[2021-12-01 15:19] gcattan commented on #283
Ok, thank you for your time.

[2021-12-01 15:19] #283 closed

[2021-12-16 15:41] #177 closed

[2022-01-09 01:59] garrison commented on #84
Somewhat related, it would also be very nice if the documentation explained any special considerations to consider when choosing the order in which to apply multiple converters.  For instance, in the constructor to `QuadraticProgramToQubo`:

https://github.com/Qiskit/qiskit-optimization/blob/d3bcf30941010068dc89031bb0a2cd5bc1835b7c/qiskit_optimization/converters/quadratic_program_to_qubo.py#L48-L5

[2022-01-11 17:02] RaoulHeese opened #311 "QAOAClient with the default argument for initial_point throws an exception"
### Environment

- **Qiskit Optimization version**: 0.3.0
- **Python version**: 3.9.7

### What is happening?

Running the `QAOAClient` with the default argument `initial_point = None` leads to an exception.

Exception message (modified for better readability):

[code]

### How can we reproduce the issue?

Run this tutorial: https://qiskit.org/documentation/optimization/tutorials/12_qaoa_runtime.h

[2022-01-19 14:55] t-imamichi commented on #99
Because we have https://github.com/Qiskit/qiskit-app-benchmarks, I close this issue.

[2022-01-19 14:55] #99 closed

[2022-01-19 16:58] woodsp-ibm opened #317 "Networkx version - remove pinning"
### What is the expected enhancement?

Networkx was pinned in #199 However having just installed latest Terra and then Optimization I found networkx downgraded from 2.6.3 to 2.5.1 so it appears whatever constraint was in place is no longer there. Consider removing the restriction here if its no longer needed.

[2022-01-20 02:33] t-imamichi opened #319 "Add support for Python 3.10"
### What is the expected enhancement?

Terra started to support Python 3.10 https://github.com/Qiskit/qiskit-terra/pull/7102
We need to check Python 3.10 in our CI.

Could you update Github actions to try Python 3.10, @manoelmarques?

[2022-01-20 02:49] t-imamichi commented on #224
We added VQE runtime and QAOA runtime #288, so I close this issue

[2022-01-20 02:49] #224 closed

[2022-01-20 02:50] #81 closed

[2022-01-20 02:52] t-imamichi commented on #217
#288 added a tutorial of QAOA runtime. So, I close this issue.

[2022-01-20 02:52] #217 closed

[2022-01-20 04:18] amitracal commented on #281
@Cryoris any updates ? I think you confirmed that you got the zip file.

[2022-01-20 04:38] #317 closed

[2022-01-20 22:08] woodsp-ibm opened #321 "Update cplex extra requires"
### What is the expected enhancement?

Currently setup.py has this

however a new version of cplex has been recently released that includes a version 3.9. Maybe with the 3.10 change this can be updated at the same time to < 3.10 and testing done with the 3.9 version

[2022-01-21 13:40] #319 closed

[2022-01-21 13:40] #321 closed

[2022-01-31 18:12] amitracal commented on #281
@Cryoris We have a quantum accelerator delivery for which this notebook is waiting for the defect https://github.com/Qiskit/qiskit-optimization/issues/281, do we have any ETA on this please ?

[2022-02-01 12:30] Cryoris commented on #281
I've looked at your notebook @amitracal and I think there might be two reasons that you've seen different results locally and on the runtime:
* Locally you were using COBYLA with a fixed initial point and on the runtime QN-SPSA. These optimizers work very differently and they might not find the same minimum. Especially QN-SPSA can require some fine tuning.
* Since you posted this issue in November

[2022-02-03 14:16] Cryoris opened #325 "Allow loading a `MinimumEigensolverResult` directly into the `MinimumEigenOptimizer`"
### What should we add?

The `MinimumEigenOptimizer` internally calls a minimum eigensolver and then postprocesses the obtained `MinimumEigensolverResult` in the context of the quadratic program that we try to solve. It would be great if we could directly pass in a `MinimumEigensolverResult` into this postprocessing part if we have it already, like:
[code]

This would be particularly useful in con

[2022-02-04 16:22] t-imamichi opened #326 "CI fails at `test_recursive_warm_qaoa`"
### Environment

- **Qiskit Optimization version**: latest
- **Python version**: NA
- **Operating system**: NA

### What is happening?

A random error has been occurring in CI
https://github.com/Qiskit/qiskit-optimization/actions

Here is a typical log.
[code]

### How can we reproduce the issue?

Run CI

### What should happen?

No error

### Any suggestions?

I will look into the details.

[2022-02-04 16:38] woodsp-ibm commented on #325
This makes it sounds as this happens more frequently than one might like. Hopefully the root cause of that gets looked at too so as to improve things in that regard. However...

Does passing in some result there become stateful on the MEO? I assume you need the same class (or another later instantiated the same way) in order to interpret the result correctly in the context of the original problem;

[2022-02-07 02:56] amitracal commented on #281
Not sure if its fixed but working most of the times right now, closing as requested by @Cryoris

[2022-02-07 02:56] #281 closed

[2022-02-07 13:11] Cryoris commented on #325
I didn't experience this myself lately (it's coming from another user) so at least for me it doesn't happen often 🙂

It definitely shouldn't become stateful, that's why the pseudo-code above passes the original quadratic program into the MEO along with the minimum eigensolver result. That should be all the information required to reconstruct the result I think -- but I might be missing something!

[2022-02-07 21:52] #326 closed

[2022-02-08 14:58] t-imamichi commented on #325
Thank you for the proposal. It would be nice if users easily interpret `VQEClient` result.
Before applying `converter.interpret(result)` to a result, we need to convert a problem by `converter.convert(problem)` so that `converter` keeps information of the problem.
Moreover, `solve` method interprets not only the best solution but also all solution samples.
So, restructuring might be a bit complica

[2022-02-14 09:47] t-imamichi commented on #311
Could you take a look at it, @eggerdj, @Cryoris?

[2022-02-14 09:48] #159 closed

[2022-02-14 10:25] t-imamichi commented on #311
Thanks!

[2022-04-04 09:44] Cryoris opened #354 "``QuadraticProgram.from_ising`` fails on identity terms"
### Environment

- **Qiskit Optimization version**: main @ 1779f66
- **Python version**: 3.7.9
- **Operating system**:  macOS Monterey

### What is happening?

Loading a quadratic program from an Ising Hamiltonian fails if the Hamiltonian contains identity terms.

### How can we reproduce the issue?

[code]

### What should happen?

The identity term should be included as constant offset.

### Any

[2022-04-06 09:43] t-imamichi commented on #354
Thank you for the report. I will fix this issue.

[2022-04-07 09:44] Cryoris opened #358 "Enable using ``QAOAClient`` as input to the warmstart QAOA algorithm"
### What should we add?

The ``WarmStartQAOAOptimizer`` currently only allows a ``QAOA`` object as input for the QAOA algorithm. It would be great to extend this to also support the ``QAOAClient`` so that we can use warmstarting in context of the runtime.

This could be done by either
* explictly allowing the ``QAOAClient`` as input (easiest solution), or
* derive the ``QAOAClient`` from ``QAOA``

[2022-04-07 09:51] Cryoris opened #359 "Allow mixer and initial state in ``QAOAClient``"
### What should we add?

Support custom mixers and initial states in the ``QAOAClient``. This is also required for #358 since the warm starting requires setting both these attributes.

To implement this we'll first have to adjust the runtime program and then add these arguments in the client.

[2022-04-21 12:05] #354 closed

[2022-05-04 04:14] gprs1809 commented on #84
Hello @t-imamichi, @garrison, is this issue still open? Do you think I can help with this? I am new to open source contributions, I have only raised 1 pull request so far. I found this to be an interesting issue since I would myself like to understand the topics you have mentioned. Once I understand, I can document these, but let me know if it's too soon to try this, given my less experience with

[2022-05-04 09:27] t-imamichi commented on #84
@gprs1809 Thank you for your interest in this project. Are you familiar with Qiskit optimization? This issue requires the knowledge of the internals of Qiskit optimization to write details in the tutorial.

[2022-05-04 09:31] t-imamichi commented on #84
@garrison Sorry to forget to reply to your question. `IntegerToBinary` should come after all integer variables are defined. Since `InequalityToEquality` introduces integer slack variables, `InequalityToEquality` should be called before `IntegerToBinary`.
I agree that we should write such conditions in the tutorial and/or the source code comments.

[2022-05-04 10:37] gprs1809 commented on #84
@t-imamichi , I have used Qiskit optimization, but I can't say I am familiar with its internals yet. I definitely would like to dive deeper into the details of the internals of Qiskit optimization. I think I am well versed with python, but I am very new to open source. If you could guide me on how I can do this, it would be really great, but let me know if I can even take this up?

[2022-05-09 09:28] t-imamichi commented on #84
You can work on it if you wish. I suggest checking out [the guide](https://github.com/Qiskit/qiskit-optimization/blob/main/CONTRIBUTING.md) first and investigate the details of `interpret`.

[2022-05-20 10:46] EliasCombarro opened #374 "Seed parameters do not seem to be taken into account by QAOA"
### Environment

- **Qiskit Optimization version**: 0.2.3
- **Python version**:  3.7
- **Operating system**: MacOS

### What is happening?

I am trying to get reproducible with QAOA but setting the seeds for the random generators does not seem to work. The results are different everytime I run my code.

### How can we reproduce the issue?

My code is the following:

from qiskit.opflow import Z
fro

[2022-05-20 14:16] EliasCombarro commented on #374
Thanks! And sorry for the mistake.

[2022-05-20 14:16] #374 closed

[2022-05-24 02:43] #77 closed

[2022-06-12 03:30] gprs1809 commented on #84
Hello @t-imamichi , I worked on this issue and have raised a pull request. As you said, it required being familiar with the internals of qiskit-optimization. So I looked into the source codes and it was a great learning experience. Let me know if everything looks okay. If you think I can change something, please let me know, I would like to make sure I make the changes as expected.

[2022-06-15 05:08] poig opened #379 "tutorial typo"
### may be a typo
docs/tutorials/07_examples_vehicle_routing.ipynb:94
``Following [5], the algorithm can be summarized as follows:``
### comment
``[5]`` might be also a reference but only four references provided

[2022-06-16 13:19] 1ucian0 opened #380 "qiskit-optimization documentation: overview page"
The [current "landing page" for qiskit-optimization](https://qiskit.org/documentation/optimization/) is a TOC that does not include any overview about the package.

![Screenshot 2022-06-16 at 15 18 20](https://user-images.githubusercontent.com/766693/174078604-8cd3356c-96cf-4aab-a148-5877a3ba5e1a.png)

Compare it with [qiskit-ibm-runtime](https://qiskit.org/documentation/partners/qiskit_ibm_runtim

[2022-06-21 06:16] #380 closed

[2022-07-05 15:17] anavasca opened #394 "Implementation of the blocking_qubits parameter in the GroverOptimizer function"
### What is the expected enhancement?

Implement into GroverOptimizer:

(https://github.com/Qiskit/qiskitoptimization/blob/main/qiskit_optimization/algorithms/grover_optimizer.py)

the code modification to include Blocking_Qubits as input parameter in addition to Blocking_Enable=True in order to perform a distribution/parallelisation of the function.

[2022-07-05 17:28] ctlila opened #395 "Add bounds support in SPSA"
### What is the expected enhancement?

Please could you add bounds support in qiskit.algorithms.optimizers.SPSA.minimize.

https://qiskit.org/documentation/stubs/qiskit.algorithms.optimizers.SPSA.minimize.html#qiskit.algorithms.optimizers.SPSA.minimize

For now bounds are ignored.

Thank you !

[2022-07-06 10:12] alejomonbar opened #396 "Inequality constraint not working properly"
### Environment

- **Qiskit Optimization version**: 0.3.2
- **Python version**: 3.8
- **Operating system**: OS

### What is happening?

The coefficients for the last slack variable when translating into its binary representation do not give the correct coefficient.

### How can we reproduce the issue?

Converting the inequality constraint to an equality constraint adding slack variables is not giv

[2022-07-06 13:04] t-imamichi commented on #396
Could you take a look at it? > @a-matsuo

[2022-07-06 13:24] t-imamichi commented on #396
As for `32*z[0] >= 0`, the slack variable `s` will be `32*z[0] == s` where `0 <= s <= 32`.
The sum of the terms except c0@int_slack@5 is (c0@int_slack@0 + 2 * c0@int_slack@1 + 4 * c0@int_slack@2 + 8 * c0@int_slack@3 + 16 * c0@int_slack@4). This sum (c0@int_slack@[0,...,4]) is in range [0, 31].
The remaining term thus should be in range [0, 1] to satisfy the upper bound 32. This is the reason why c

[2022-07-07 06:12] anavasca commented on #394
@t-imamichi Is it possible to introduce such an improvement?

[2022-07-08 12:53] omarshehab opened #398 "Large angles in QAOA algorithms using QuadraticProgram"
### Environment

- **Qiskit Optimization version**: 0.2.3
- **Python version**: 3.9.5
- **Operating system**: Darwin

### What is happening?

In the parametrized circuits for variational algorithms, the single qubit gate angles should be mod pi.

Job ID: 62b9ccb5e1377dc645097e3a . System: Hanoi. Line 101 of QASM is rz(-806806790.6729735) q[13];

Could anyone help me understand why the angle is so

[2022-07-15 08:21] anavasca opened #400 "information about the use of the num_value_qubits parameter in the GroverOptimizer function is missing."
It is not clear from the documentation what the relationship is between the number of variables in the QUBO function to be optimised and the value of the num_value_qubits parameter. Also to know how this parameter influences when we add more constraints.

[2022-07-19 14:12] gcattan opened #401 "ValueError: 'to_matrix' will return an exponentially large matrix"
### Environment

- **Qiskit Optimization version**: 0.4.0
- **Python version**: 3.8
- **Operating system**:  Windows 10

### What is happening?

I guess it is more a question than a real issue.

I have an optimization problem, with 5 variables.
Each variable is a matrix of size 2x2 containing integer variables.
I am using `IntegerToBinary` to convert the problem, as below:

[code]

When I run the

[2022-07-20 07:09] t-imamichi commented on #401
Could you paste the entire script to [gist](http://gist.github.com/) to reproduce the error?

[2022-07-20 15:27] gcattan commented on #401
Sure. Please find the gist [here](https://gist.github.com/gcattan/176ed5891deeb62dc3b21c686bf37167).

[2022-07-27 19:24] gcattan commented on #401
@t-imamichi were you able to reproduce the error with the gist?

[2022-07-28 02:50] t-imamichi commented on #401
Because you use unbound integer variables (no lower bound and no upper bound), they are converted into a large set of binary variables to generate a qubo. I printed out your problem and the result is as follows. The number of variables (272) is too much, which corresponds to the number of qubits.

[code]

[2022-07-29 10:56] anavasca opened #402 "GAS error with mpi"
### Environment

- **Qiskit Optimization version**: 4.0
- **Python version**:  3.8
- **Operating system**: Ubuntu 22.04

### What is happening?

I execute the following program with error:

import numpy as np
from qiskit import QuantumCircuit, transpile, Aer, IBMQ
from qiskit.tools.jupyter import *
from qiskit.visualization import *
from qiskit.providers.aer import QasmSimulator
from qiskit.algori

[2022-07-29 10:59] #400 closed

[2022-07-29 11:00] anavasca commented on #400
no longer necessary thanks

[2022-07-29 18:01] gcattan commented on #401
Ok, I understand, thank you for your answer.

[2022-07-29 18:01] #401 closed

[2022-08-02 15:02] t-imamichi commented on #402
The error `cache blocking : there are gates operation can not chache blocked in blocking_qubits = 16` is caused by Aer. It is related to Aer in MPI environment. Please ask it at https://github.com/Qiskit/qiskit-aer

[2022-08-03 07:32] anavasca commented on #402
perfect thanks @t-imamichi

[2022-08-03 07:38] #402 closed

[2022-08-08 20:42] yurivict opened #403 "Test requirements need to be listed in setup.py"
### Environment

- **Qiskit Optimization version**: 750c2c8
- **Python version**: 3.9
- **Operating system**: FreeBSD 13.1

In the FreeBSD port I need to fill the TEST_DEPENDS clause and it isn't clear what is a complete set of test dependencies.

### What is happening?

n/a

### How can we reproduce the issue?

n/a

### What should happen?

n/a

### Any suggestions?

n/a

[2022-08-08 21:12] mtreinish commented on #403
I'm closing this for the same reason as Qiskit/qiskit-terra#8498 the `requirement-dev.txt` list includes all the test only requirements. If you need a list of test dependencies for FreeBSD packaging I would just use that.

[2022-08-08 21:12] #403 closed

[2022-08-08 21:14] yurivict commented on #403
```requirement-dev.txt``` contains items irrelevant for testing.

[2022-08-08 21:18] yurivict commented on #403
setup.py has a dedicated variable ```tests_require``` just for this purpose.
If ```dev_require``` would have been sufficient, ```tests_require``` wouldn't have been defined.

[2022-08-08 21:45] mtreinish commented on #403
All the test specifiers in setuptools, including `tests_require` have been deprecated for almost 3 years now and they're not recommend for use because they will be removed in a future release (https://setuptools.pypa.io/en/latest/references/keywords.html). They were only ever used by setuptools if you configure your setup.py to run tests (which we don't as that is quite a limited interface and dep

[2022-08-19 22:48] MinssenP opened #408 "TSPLIB parser"
### Environment

- **Qiskit Optimization version**: 0.4.0
- **Python version**: 3.9
- **Operating system**: Mac OS

### What is happening?

The TSPLIB parser in TSP application do not parse TSPLIB files from http://comopt.ifi.uni-heidelberg.de/software/TSPLIB95/index.html.

### How can we reproduce the issue?

Download a tsp instance [st70](http://comopt.ifi.uni-heidelberg.de/software/TSPLIB95/tsp

[2022-08-30 12:04] dietmarwo opened #409 "Parallel Optimization / Fitness evaluation"
### What is the expected enhancement?

The following enhancements regarding optimization are proposed:

- Parallel optimization restart.
- Implementing an optimizer performing parallel fitness evaluation.

Alternatively an existing solution could be wrapped.

Modern many core CPUs scale very differently dependent on how parallelization is applied. For VQEs BLAS based parallelization can scale quit

[2022-08-31 13:12] t-imamichi commented on #408
Thank you for pointing out this issue. If you are happy to contribute to qiskit optimization, feel free to work on it.

[2022-09-01 10:57] bartubisgin opened #410 "prettyprint deprecated, but all cells in tutorials contain it."
### Environment

- **Qiskit Optimization version**: 0.4.0
- **Python version**: 3.10.5
- **Operating system**: macOS, arm64 (M1 Pro)

### What is happening?

Almost all cell blocks within tutorials contain some type of prettyprint which is deprecated, for example (Cell 3 in Tutorial 1):

Running this gives the error: 'QuadraticProgram' object has no attribute 'prettyprint'
The only way to learn th

[2022-09-01 11:34] bartubisgin commented on #410
Found just now that 'pip install qiskit-optimization' installs v=0.3.2, but if you do pip install 'qiskit-optimization==0.4.0' the code with .prettyprint() will also work without giving errors. Maybe in this case pip install qiskit-optimization should install the latest release and not 0.3.2

[2022-09-01 12:38] t-imamichi commented on #410
`prettyprint` was newly introduced in version 0.4.0 #366 and the tutorials were updated to use it #370. https://qiskit.org/documentation/optimization/release_notes.html#release-notes-0-4-0
The tutorial is supposed to be compatible with the latest release version.

[2022-09-01 12:39] t-imamichi commented on #410
`pip install qiskit-optimization` installs 0.4.0 as follows.
[code]

[2022-09-01 12:46] bartubisgin opened #411 "qiskit-optimization[cplex] already satisfied, but getting error with CplexOptimizer()"
### Environment

- **Qiskit Optimization version**: 0.4.0
- **Python version**: 3.10.5
- **Operating system**: macOS, arm64 (M1 Pro)

### What is happening?

I'm trying to run Tutorial 10 on Warm-Start QAOA and get this error below from the 2nd code-cell using `CplexOptimizer().solve(qubo)`

[code]

### How can we reproduce the issue?

[code]

when I run `pip install 'qiskit-optimization[cplex]'`

[2022-09-01 13:00] bartubisgin commented on #410
@t-imamichi Thank you for the comments, just did so in a test environment and you are absolutely correct, pip installed v=0.4.0, but this certainly wasn't the case for or I somehow downgraded it without noticing from running some other script; I wonder what the issue was.

Maybe it is good to update the 'DEPRECATED' in the stable version of docs here? https://qiskit.org/documentation/stable/0.28/s

[2022-09-01 13:18] t-imamichi commented on #410
We used to have `prettyprint` method and it was deprecated a long ago. Your link was a doc of previous versions. So, it includes the information. The pages of the previous versions are left for users who want to use old versions and we don't update them.

We re-introduced the new `prettyprint` method (developed from scratch) in 0.4.0. The documentation of the latest stable version is <https://qisk

[2022-09-01 18:55] bartubisgin commented on #410
Got it. Thanks for the info.

[2022-09-29 01:42] athanzxyt opened #421 "How to return weights instead of binary numbers for PortfolioOptimizer"
Hello,

I understand that the PortfolioOptimizer in Qiskit Finance/Optimization can solve quadratic programs such as minimum variance. Following the Qiskit Optimization tutorial. However, it returns binary integers on whether or not to select a stock. How do I change the class code to return a weight that each stock should hold within the portfolio?

https://qiskit.org/documentation/finance/tutori

[2022-09-29 13:18] woodsp-ibm commented on #421
Take a look at this, see if its what you need, which was done some time back Qiskit/qiskit-finance#57 - there is a unit test added which shows its use etc.

[2022-10-13 12:47] #408 closed

[2022-10-13 18:25] woodsp-ibm opened #425 "Support new primitive based algorithms."
### What is the expected enhancement?

Support primitive based algorithms such as the new QAOA and SamplingVQE etc accordingly.

Update GroverOptimizer to move away from QuantumInstance use, potentially by more directly using Grover from Terra.

Update tutorials correspondingly

Update readme sample

Migration guide as applicable

- [x] MinimumEigenOptimizer (@t-imamichi) #436
- [x] GroverOptimize

[2022-10-26 13:14] rpitasky opened #426 "`tsp.interpret` returns nested lists"
The return type of `tsp.interpret` seems quite strange: https://github.com/Qiskit/qiskit-optimization/blob/3276eaa9917e03923a76390050ed5cea2ecae6e6/qiskit_optimization/applications/tsp.py#L65

Sometimes when running tsp.interpret on a valid result, one can get complete nonsense like `[4, [2, 3], [], 1]`. In a project of mine, I solved this with `np.hstack` (see [my code here](https://github.com/rp

[2022-10-26 21:08] rpitasky commented on #426
This issue runs deeper than I thought. Looking through old commits, it seems like there was a note about how the output can contain nested lists if the result is infeasible, but this was removed when the whole applications module was refactored in #31  https://github.com/Qiskit/qiskit-optimization/blob/c14e2603b29ded8847d57288831c5ee0563dd5c4/qiskit_optimization/applications/ising/tsp.py#L257-L261

[2022-11-07 05:24] t-imamichi commented on #426
Could you take a look at it, @a-matsuo?

[2022-11-07 05:33] a-matsuo commented on #426
Sure, I look into it.

[2022-11-07 06:04] a-matsuo commented on #426
The behavior is expected, isn't it? Since `qubo` does not have constraints, it will return `feasible` for any solution. If you use `qp.is_feasible(x)` instead of `qubo.is_feasible(x)`, it will return `False`.

[2022-11-07 14:31] rpitasky commented on #426
Why is `qp.is_feasible(x)` false here, given that this is a valid, solvable TSP problem? Is this indicative of a problem somewhere in the TSP -> QP chain of conversions?

[2022-11-08 06:18] a-matsuo commented on #426
I mean `x=[0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0]` as you showed in the above is an invalid solution, isn't it? It never visits `city 0`. `is_feasible(x)` checks whether a given `x` violates constraints or not.

[2022-11-09 06:37] t-imamichi commented on #426
VQE does not guarantee the optimality and the solution does not always satisfy all constraints. So, although `qubo.is_feasible(x) == True` of the solution `x=[0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0]` (QUBO has no constraint), `qp.is_feasible(x) == False`. If `qp.is_feasible(x) == False`, `interpret` may generate a nonsense list due to the infeasibility.

[2022-11-10 09:48] t-imamichi commented on #411
@bartubisgin Do you have any update? If no, I will close this issue.

[2022-11-10 09:56] t-imamichi opened #433 "Replace opflow operators with quantum_info `SparsePauliOp`"
### What is the expected enhancement?

As primitive-based algorithm is rolled out and opflow might be deprecated in the future, we might need to update Qiskit-optimization to replace opflow operators with `SparsePauliOp` of quantum_info.
For example, `to_ising` returns `PauliSumOp` and `from_ising` receives `PauliSumOp`.

[2022-11-10 15:19] woodsp-ibm commented on #433
I imagine we can transition over already to some degree if we choose.  For `from_ising` we could probably support conversion for both the opflow OperatorBase and the quantum_info BaseOperator with the former type being deprecated, so things can be transitioned over. For to_ising maybe add an additional parameter that presently defaults to producing an OperatorBase (PauliSumOp), so any users code s

[2022-11-10 15:57] t-imamichi commented on #433
Thank you for the feedback. Yes, we have to update the code without breaking user codes. I intend to work on it when opflow is deprecated and the new primitive-based algorithms get stable.

[2022-11-15 14:23] athanzxyt commented on #421
So to my understanding, we can find integer returns by using `PortfolioOptimization.bounds`. However, this becomes very costly? Is there a way to return float weights? Or am I misunderstanding something.

[2022-11-15 17:11] Cryoris commented on #398
The possible parameter values depend on the optimizer you're using, and if it supports bounds there. In general it's difficult to set bounds because some optimizers might perform differently for different kinds of bounds (periodic, asymptotic, flat, ...) and you can change the sensitivity of the circuit parameters (e.g. `RZ(x)` vs `RZ(1000 * x)`).

If you want to restrict the parameter bounds in t

[2022-11-15 19:24] woodsp-ibm commented on #421
The portfolio optimization used to have only a buy or not result for each stock, and was changed to support integer amounts. This is the functionality it has.  Now the [portfolio optimization code](https://github.com/Qiskit/qiskit-finance/blob/main/qiskit_finance/applications/optimization/portfolio_optimization.py) relies on[ Qiskit Optimization](https://qiskit.org/documentation/optimization/) to

[2022-11-30 10:00] t-imamichi opened #449 "Adds options to control probability type and threshold of `QuantumAlgorithm`"
### What should we add?

Follow-up https://github.com/Qiskit/qiskit-optimization/pull/436#discussion_r1032564684

If users apply Sampler to `QuantumAlgorithm`, the result `QuasiDistribution` is interpreted at  the following method.
https://github.com/Qiskit/qiskit-optimization/blob/a752fd9e6af400a427a841952aac9555e454bc30/qiskit_optimization/algorithms/optimization_algorithm.py#L522-L525

`QuasiDi

[2022-11-30 13:55] #90 closed

[2022-11-30 14:47] t-imamichi commented on #219
Since `QAOAProgram` was deprecated with the release v0.3, I close this issue.

[2022-11-30 14:47] #219 closed

[2022-11-30 14:50] t-imamichi commented on #379
Thank you for the report. I think `[5]` should be `[2]`. Do you perhaps have any idea, @adekusar-drl?

[2022-11-30 14:51] #411 closed

[2022-11-30 14:52] #279 closed

[2022-11-30 15:37] adekusar-drl commented on #379
Oh, that was some time ago. In the original version [5] is missing as well. I'd suggest to remove this reference and keep only "The algorithm can be summarized as follows" as I just don't recall what [5] could be.